<div class="modal fade" id="chgPassModal" tabindex="-1" role="dialog" aria-labelledby="chgPassModalLabel" aria-hidden="true"
    data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="chgPassModalLabel">修改密码</h4>
        </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="old_password" class="col-sm-4 control-label">旧密码</label>
                <div class="col-sm-4">
                  <input type="password" name="old_password" class="form-control" id="old_password" placeholder="请输入密码"/>
                  <p id="old_password_error" style="color:red;"></p>
                </div>
              </div>
              <div class="form-group">
                <label for="password1" class="col-sm-4 control-label">新密码</label>
                <div class="col-sm-4">
                  <input type="password" name="password1" class="form-control" id="password1" placeholder="请输入密码"/>
                </div>
              </div>
              <div class="form-group">
                <label for="password2" class="col-sm-4 control-label">确认密码</label>
                <div class="col-sm-4">
                  <input type="password" name="password2" class="form-control" id="password2" placeholder="请输入密码"/>
                  <p id="new_password_error" style="color:red;"></p>
                </div>
              </div>
            </form>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" onclick="pass_data_confirm()">确认</button>
        </div>
    </div>
  </div>
</div>
<script>
  $('#chgPassModal').on('show.bs.modal', function (event) {
    $('#old_password').val('')
    $('#password1').val('')
    $('#password2').val('')
    document.getElementById('old_password_error').innerHTML = ""
    document.getElementById('new_password_error').innerHTML = ""
    // var button = $(event.relatedTarget) // 触发事件的按钮
    // var modal = $(this)
  })
  function pass_data_confirm() {
    //获取模态框数据
    var old_password = $('#old_password').val();
    var password1 = $('#password1').val();
    var password2 = $('#password2').val();
    $.ajax({
      type: "post",
      // url: "update.do",
      data: "modal_name=chgPassModal&old_password=" + old_password + "&password1=" + password1 + "&password2=" + password2,
      dataType: 'json',
      // contentType: "application/x-www-form-urlencoded; charset=utf-8",
      success: function(data) {
        if (data.status == 'fail') {
          document.getElementById('old_password_error').innerHTML = ""
          document.getElementById('new_password_error').innerHTML = ""
          document.getElementById(data.id).innerHTML = data.content
        }
        else {
          location.href = '../..' + data.content
        }
      }
    });
  }
</script>